<div>
    <div class="card">
        <img class="icon" src="assets/Icons/diagnosis.png" alt="Heart Rate Icon" />
        <span class="fontStyle">Diagnosis : {{ medicalRecords?.diagnosis }}</span>
    </div>
    <div class="card">
        <img class="icon" src="assets/Icons/HeartRate.png" alt="Heart Rate Icon" />
        <span class="fontStyle">heart Rate : {{ medicalRecords?.heartRate }} </span>
    </div>
    <div class="card">
        <img class="icon" src="assets/Icons/blood-pressure.png" alt="Heart Rate Icon" />
        <span class="fontStyle">Pressure : {{ medicalRecords?.pressure }}</span>
    </div>
    <div class="card">
        <img class="icon" src="assets/Icons/lungs.png" alt="Heart Rate Icon" />
        <span class="fontStyle">Respiratory : {{ medicalRecords?.respiratory }}</span>
    </div>
    <div class="card">
        <img class="icon" src="assets/Icons/HeartRate.png" alt="Heart Rate Icon" />
        <span class="fontStyle">Treatment Plan : {{ medicalRecords?.treatmentPlan }}</span>
    </div>
    <div class="card">
        <img class="icon" src="assets/Icons/weight-scale.png" alt="Heart Rate Icon" />
        <span class="fontStyle">weight : {{ medicalRecords?.weight }}</span>
    </div>
    <div class="card">
        <img class="icon" src="assets/Icons/height.png" alt="Heart Rate Icon" />
        <span class="fontStyle">height : {{ medicalRecords?.height }}</span>
    </div>


</div>