<app-header></app-header>
<div class="row">

    <div class="col-md-3">
        <img src="assets/images/human-body.png" alt="Doctor" />
    </div>
    <div class="col-md-8">
        <mat-tab-group>
            <mat-tab label="Medical Records"> <app-medical-records></app-medical-records> </mat-tab>
            <mat-tab label="Labs"> <app-labs></app-labs> </mat-tab>
            <mat-tab label="Diagnosis"> Diagnosis </mat-tab>
        </mat-tab-group>


    </div>
</div>

<!-- <app-footer></app-footer> -->